.userPgCategories li i{
    text-align: left;
    width: 30px;
}
.card-cat{
    padding: 0px !important;
}
.userPgCategories li:hover{
    background-color: crimson;
    color: white;
}
.userPgCategories li:hover a{
    color: white !important;
}
